h1 {
  font-family: "Unica One", sans-serif;
  position: absolute;
  z-index: 8;
  color: #fff;
  max-width: 250px;
  left: 50px;
  bottom: 400px;
  opacity: 0;
  animation: text 1s .3 linear;
  animation-fill-mode: forwards;
}

@keyframes text {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

#narwhal {
  animation: narwhal 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
}

@keyframes narwhal {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#narwhal-body {
  animation: narwhalbody 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1982px;
  stroke-dashoffset: 1982px;
}

@keyframes narwhalbody {

  from {
    stroke-dashoffset: 100%;
  }

  to {
    stroke-dashoffset: 0%;
  }

}

#narwhal-eye {
  opacity: 0;
  animation: narwhaleye 1s .3s ease;
  animation-fill-mode: forwards;
}

@keyframes narwhaleye {

  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

#rainbow-indigo {
  animation: rainbowindigo 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1813px;
  stroke-dashoffset: 1813px;
}

@keyframes rainbowindigo {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-violet {
  animation: rainbowviolet 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1813px;
  stroke-dashoffset: 1813px;
}

@keyframes rainbowviolet {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-blue {
  animation: rainbowblue 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1706px;
  stroke-dashoffset: 1706px;
}

@keyframes rainbowblue {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-green {
  animation: rainbowgreen 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1596px;
  stroke-dashoffset: 1596px;
}

@keyframes rainbowgreen {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-yellow {
  animation: rainbowyellow 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1484px;
  stroke-dashoffset: 1484px;
}

@keyframes rainbowyellow {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-orange {
  animation: rainboworange 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1366px;
  stroke-dashoffset: 1366px;
}

@keyframes rainboworange {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}

#rainbow-red {
  animation: rainbowred 1.5s linear;
  animation-fill-mode: forwards;
  stroke-dasharray: 1243px;
  stroke-dashoffset: 1243px;
}

@keyframes rainbowred {

  from {
    stroke-dasharray: 100%;
  }

  to {
    stroke-dasharray: 0%;
  }

}
